.viking-signature{
    border: 1px solid #000;
    background-color: #fff;
    box-sizing: border-box;
    touch-action: none //解决touch preventdefault报错的问题（通过CSS的方式禁用）
}
.controls{

    margin-left: 1px;
    display: flex;
    justify-content: space-between;
    button, select{
        padding: 5px 10px;
        cursor: pointer;
    }
}